<!DOCTYPE>
<html>
<head>
	<title>Vue.js</title>
</head>
<body>
	<div id="vuejs">
		<p>Like button</p>
		<button @click="like">{{ count }}</button>
		<p>Tasks<span v-if="tasksCount"> ({{ tasksCount }})</span></p>
		<input type="text" v-model="task" /><button type="submit" @click="add">Add</button>
		<ul>
			<li v-for="task in tasks" track-by="$index" @click="remove(task)">{{ task }}</li>
		</ul>
	</div>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.11/vue.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
